 
p {
    font-size: 1.4em;
    line-height: 1em;
}

.image-replacement, .logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/logo.png") no-repeat;
  background-size:100% auto;
 
}
.logo-colored {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/logo-colored.png") no-repeat;
  background-size:100% auto;
 
}
/* Align vertically a column */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.logo-orange {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/logo-orange.png") no-repeat;
  background-size:100% auto;
 
}
.diagnova-ico {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/diagnova-ico.png") no-repeat;
  background-size:100% auto;
 
}
.diagnovate-ico {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/diagnovate-ico.png") no-repeat;
  background-size:100% auto;
 
}

.logo-ico {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/logo-ico.png") no-repeat;
  background-size:100% auto;
 
}
.image-replacement-dark, .logo-dark {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/logo-dark.png") no-repeat;
 
}

.copyright{
    color: #808080;
    margin-top: 10px;
    font-size: 22px;

}
 
.main-nav .logo-colored {
    width: 314px;
    height: 84px;
    margin: 17px auto;
    background-size: 100%;
}
.footer .logo-dark{
  max-width: 320px;
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
}
    /* H1 - H6 font */
.main-nav{

    margin: 0 auto;
    padding: 10px;
    background-color: #1A1A1A;
    height: 140px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6, a,p{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif!important;
}



@media screen and (max-width: 720px) {
.main-nav .logo-colored {
 
 margin: 0 auto;
 
}
.footer .logo-dark {
    width: 180px;
    height: 90px;
    top: 22px;
    /* margin: 38px auto; */
    /* background-size: 100%; */
    position: relative;
}
.copyright {
    color: #808080;
    margin-top: 10px;
    font-size: 20px;
}
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
}

@media screen and (min-width: 1921px) {
    
}
    .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.footer{
    padding: 10px;
    background-color: #1A1A1A;
    height: 140px;
}
.main-content{
    height:100%;
    

}


.thumbnail {
    height: 200px;
}

.thumbnail img.pull-right {
    width: 50px;
}

body {
    background-color: white;
    font-size: 13px;
    font:  13px arial, sans-serif;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif!important;
    /**background-image: url("../assets/bgs/DIAGNOVA CO.png");**/
}

.question_bg {
    float: right;
    display: inline;
    position: absolute;
    right: 90px;
    z-index: -1;
    top: 480px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.question_bg img {
    width: 120%
}

.panel-opacity {
    background-color: rgba(255, 255, 255, 1);
}

.progress {
    height: 15px;
    font-size: 15px;
        background-color: #CDCDCE;
}

.input-xs {
    height: 30px;
    padding: 0px 5px;
    font-size: 13px;
    line-height: 1;
    border-radius: 2px;
}

legend {
    width: auto;
}

fieldset {
    width: auto;
    border: 1px solid #c0c0c0;
    padding: 0.35em 0.625em 0.75em;
}


/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd!important;
    border-bottom-color: transparent!important;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd!important;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 0px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee!important;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd!important;
    *border-right-color: #ffffff!important;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd!important;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent!important;
    *border-left-color: #ffffff!important;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}
 
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 0px;
    }
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar {
        position: relative;
        min-height: 60px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }
    th {
        text-align: center;
        font-weight: bold;
        font-size: 14px
    }
    .underlined {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 14px;
        background-color: #DDE9ED;
    }
    .underlined a{
      color:   #232425;  
      text-decoration: none!important        
    }

            /* Specify styling for tooltip contents */
            .tooltip.customClass .tooltip-inner {
                    color: #FFFFFF;
    background-color: #2C3E50;
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                font-size:  14px;
            }
            /* Hide arrow */
            .tooltip.customClass .tooltip-arrow {
                display: none;
            }
       
   
    .ng-hide-add,
    .ng-hide-remove {
        /* ensure visibility during the transition */
        display: block !important;
        /* yes, important */
    }
    .cssSlideUp {
        transition: .5s linear all;
        height: 80px;
        overflow: hidden;
    }
    .cssSlideUp.ng-hide {
        height: 0;
    }
    .page {
        bottom: 0;
        padding-top: 200px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    .page h1 {
        font-size: 60px;
    }
    .page a {
        margin-top: 50px;
    }

    .page-home {
        background: #00D0BC;
        color: #00907c;
    }
    .page-about {
        background: #E59400;
        color: #a55400;
    }
    .page-contact {
        background: #ffa6bb;
        color: #9e0000;
    }
 
    .ng-enter {
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 0;
    }
    .ng-enter-active {
        opacity: 1;
    }
    .ng-leave {
        -webkit-transition: 1s;
        transition: 1s;
    }
    .ng-leave-active {
        opacity: 0;
    }
    .my-fade-container {
        position: relative;
    }
    .my-fade-animation.ng-enter,
    .my-fade-animation.ng-leave {
        -webkit-transition: 0.5s linear all;
        -moz-transition: 0.5s linear all;
        -o-transition: 0.5s linear all;
        transition: 0.5s linear all;
    }
    .my-fade-animation.ng-enter {
        z-index: 100;
        opacity: 0;
    }
    .my-fade-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }
    .my-fade-animation.ng-leave {
        z-index: 101;
        opacity: 1;
    }
    .my-fade-animation.ng-leave.ng-leave-active {
        opacity: 0;
    }


.pointer.low {
   z-index: 2!important;
}
input.input.low{
z-index: 4!important;   
}

/*dddddddddddddd*/
.rainbow-slider {
  background: linear-gradient(to right, red 0%, #f7f733 50%, #3be240 100%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: none;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);*/
  position:     relative;
  margin-top: 90px;
  height: 20px; }
                    
  .rainbow-slider .ui-slider-handle {
    background: rgba(255, 255, 255, 0.21);
    border-color: rgba(0, 0, 0, 0.56);
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.89);
    border-radius: 20px;
    top: -8px; }
                    
    .rainbow-slider .ui-slider-handle.ui-state-hover, 
    .rainbow-slider .ui-slider-handle:hover, 
    .rainbow-slider .ui-slider-handle.ui-state-focus, 
    .rainbow-slider .ui-slider-handle:focus, 
    .rainbow-slider .ui-slider-handle.ui-state-active {
      background: rgba(255, 255, 255, 0.21)!important; }
                    
  .rainbow-slider .ui-slider-pip .ui-slider-label {
    width: 6em;
    margin-left: -3em; }
                    
    
                    
  .rainbow-slider .ui-slider-pip .ui-slider-line {
    top: 1px; }
                    
  .rainbow-slider .ui-slider-pip:nth-of-type(odd) {
    top: auto;
    bottom: 32px; }
                    
    .rainbow-slider .ui-slider-pip:nth-of-type(odd) .ui-slider-line {
      top: 21px; }

      ::-ms-tooltip {
    display: none;
}


/***/

    slider {
        display:     block;
        position:    relative;
        height:      40px;
        
    }
    slider span.bar {
        height:     50%;
        z-index:    0;
 
        left:       0;
        top:        25%;
        cursor:     pointer;
    }
    slider span.bar.selection, slider span.bar.unselected {
    }
    slider span.bar.selection {
        background: #0a0;
        opacity:    0.5;
    }
    slider span.bar.unselected {
        width:      auto;
        background: #a00;
        opacity:    0.5;
    }
 slider span.pointer {
    top: -6px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #EEEEEE;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    border: 2px solid #939090;
}
slider span.pointer:after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: rgba(44, 62, 80, 0.35);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    content: '';
}
    slider span.pointer:hover {

    }
    slider span.pointer.active { background-color: #2C3E50
    }
   slider span.bubble {
    font-size: 24px;
    line-height: 3em;
    /* font-family: sans-serif; */
    text-align: center;
    text-shadow: none;
    top: -1.3em;
    cursor: pointer;
    font-weight: bold;
}


    slider span.bubble.selection, slider span.bubble.limit {
        top: 25%;
    }
    slider span.bubble.selection {
    }
    slider span.bubble.limit {
    }
    slider span.bubble.low, slider span.bubble.high {
        top: -18px;
            display: none!important;
    }
    
   
    #slider-container {
        -webkit-touch-callout: none;
        -webkit-user-select:   none;
        -khtml-user-select:    none;
        -moz-user-select:      -moz-none;
        -ms-user-select:       none;
        user-select:           none;
    }

    slider span.bar.unselected {
  width: 0;
  z-index: 1;
  background: #f5f5f5;
}
slider>input {
  max-width:100%;
}


.ui-slider-line-pip {
    background: rgb(0, 0, 0);
    width: 2px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: -29px;
}
 .ui-slider-line {
 
    width: 1px;
    height: 3px;
    /*position: absolute;*/
    left: 50%;
}

.ui-slider-pip {
       /* top: 0%!important; */
    /* width: 2em; */
    /* height: 1em; */
    /* line-height: 1em; */
        bottom: 0px!important   ;
    position: absolute;
    font-size: .5em;
    /* color: #999; */
    /* overflow: visible; */
    /* text-align: center; */
    /* top: 20px; */
    /* left: 20px; */
    margin-left: -0.5em;
    /* cursor: pointer; */
}

   .pips {
        margin-top: 63px;
            position: relative!important;

   }
 ::-ms-tooltip {
        display: none;
    }

/******/

.panel-primary > .panel-heading {
  background-color:  #444;
  background-image: url("../assets/material2.jpg");
}

.nav-tabs {
    background: #212121;
}
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white!important;
    background-color: #FF630D!important;
    border: 1px solid #FF630D!important;
    border-bottom-color: transparent!important;
    cursor: default!important;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: transparent ;
    border: 0 ;
   color: #FFDB60 !important; ;
    font-weight: 500;
}


.angular-center-container {
  position: relative;
  top:0;
    left:0;
    height:100%;
    width:100%;
    display:table;
    pointer-events: none;
    z-index:9999;
}
.angular-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}