<!--<label class="col-xs-12 ">
    <p>Para cada una de las siguientes afirmaciones, Indique en las siguientes escalas el grado de acuerdo. <span style="color:red; font-weight: 100"></span></p>
</label>
-->
    
<div class="row">
<div style="margin-top:30px" id="survey">
        <a name="survey" href></a>
        <div class="col-md-12" style="padding: 0px 10px;">
            <p class="text-title">30 preguntas que diagnovan la madurez de tu organización</p>
        </div>
    </div>


                             <!-- <canvas id="radar" width="500" height="500" class="chart chart-radar"
                                        chart-data="dimensiones_calculadas" chart-labels="labels" chart-options="chart_options">
                                    </canvas> 
                                    <canvas id="pie" class="chart chart-pie"
                                            chart-data="pie_data" chart-labels="pie_labels" chart-legend=true chart-options="pie_options">
                                    </canvas>
                                    {{answers | json}}
                                    <br>
                                     {{dimensiones | json}} -->
    <div class="col-xs-12" id="instrumento-mindex">
        <table class="table  table-bordered">
            <tbody>
                <tr ng-repeat="question in imiCtrl.questions">
                    <td class="text-right">
                        <div class="col-sm-2 col-xs-2">
                            <p class="number-big">{{$index+1}}.</p>
                        </div>
                        <div class="col-sm-10">
                            <p>{{question.texto}}</p>
                            <div class="rainbow-slider">

                                <slider ng-model='answers.s1[question.modelName]' floor="1" ceiling="3" step="1">
                                </slider>

                            </div>
                        </div>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
